<form action="/addproduct" method="POST" class="form">
  <div class="product-info addtocart">
    <label for="name">Product name</label>
    <input type="text" name="name" id="pname" />
  </div>
  <div class="product-info">
    <label for="description">Product description</label>
    <input type="text" name="description" id="pdesc" />
  </div>
  <div class="product-info">
    <label for="price">Product price</label>
    <input type="text" name="price" id="pprice" />
  </div>

  <button type="submit" id="add">Add product</button>
</form>
