<form class="form" action="/users/register" method="POST">
  <div class="info">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" required />
  </div>

  <div class="info">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email adresse"
      required
    />
  </div>

  <div class="info">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
  </div>

  <button type="submit" id="btn">
    Register
  </button>

  <p>Already have an account<a href="/users/login">log in</a>.</p>
</form>
