<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%include ./navbar %>
    <div class="row w-100 mt-5">
        <form class="shadow col-md-5 col-sm-7 col-9 p-0 mx-auto bg-light text-dark px-5" action="/login" method="POST">
            <h1 class="text-center my-3">Log In</h1>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Username">@username</span>
              </div>
              <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="Username">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="password">password</span>
              </div>
              <input type="password" name="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="password">
            </div>
            <div class="mx-0 row w-100 mb-5">
              <button type="submit" class="mx-auto btn btn-outline-success col-5">Log in</button>
              <a href="/" class="mx-auto btn btn-outline-warning col-5">Cancel</a>
            </div>
        </form>
    </div>
</body>
    <script src="/public/js/jquery-3.5.1.min.js" ></script>
    <script src="/public/js/bootstrap.bundle.js"></script>
</html>