<nav class="navbar navbar-dark bg-transparent shadow">
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Micro Notes</a>
    <button class="navbar-toggler border-0 ml-auto p-0"  style="border-radius: 50%;" type="button" data-toggle="collapse" data-target="#UserNav" aria-controls="UserNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/public/img/avatar2.jpg" class="avatar" alt="avatar">
    </button>
    <div class="collapse navbar-collapse" id="UserNav">
      <ul class="navbar-nav">
        <%if(User){%>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        <%}else{%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
        <%}%>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Notes/favorite">Favorite</a>
          </li>
        </ul>
      </div>
</nav>